/* Import Metal Mania font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/* Body and Background */
html {
  background-image: url('../images/red.png');
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'Arial', sans-serif; 
  line-height: 1.5; 
  color: white; 
  padding: 0 1em; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
}